<!DOCTYPE html>
<html lang="en">
    <!-- START: Head-->
    <head>
      <%- include('./partials/head'); %>
    </head>
    <!-- END Head-->

    <!-- START: Body-->
    <body id="main-container" class="default">
      <script>
        function handleCredentialResponse(response) {
          console.log(response)
        }
      </script>
        <!-- START: Main Content-->
        <div class="container">
            <div class="row vh-100 justify-content-between align-items-center">
                <div class="col-12">
                    <form action="/logins" method="post" class="row row-eq-height lockscreen  mt-5 mb-5">
                        <div class="login-form col-12 col-sm-12">
                          <% if(messages.error) { %>
                          <script>alert(`<%= messages.error %>`)</script>
                          <% } %>
                          <h5>LOGIN</h5>
                            <div class="form-group mb-3">
                                <label for="emailaddress">Username</label>
                                <input class="form-control" type="text" id="username" name="username" placeholder="Enter your email">
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password">
                                <a href="/forgot-password" style="display: grid; text-align: end;">forgot your password?</a>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <button class="btn btn-lg btn-primary" type="submit"> Log In </button>
                              </div>
                            </div>
                            
                            <div class="row" style="display: grid; text-align: center;">
                              --- Or connect with ---
                              <div class="col-md-12">
                                <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/google" style="border-color: gray;"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a>
                              </div>
                            </div>
                            <div class="mt-2">Don't have an account? <a href="/register">Create an Account</a></div>
                            <br>
                            <!-- <div style="color:rgb(209, 207, 207)">
                              --- Catatan: --- <br>
                              Callback Google Oauth2 masih di link local kalau kamu buka dari heroku ini masih nge redirect ke local nihh hehe, jadi pastikan sudah terhubung di local yaa aja. 
                            </div> -->
                            
                              <!-- Want to try sample <a href="/google"> Log In With Google </a>? -->
                            
                            <!-- <div id="g_id_onload"
                                data-client_id="930499613773-1bve6v3t33hhnhs122231f5kpspla1cn.apps.googleusercontent.com"
                                data-callback="handleCredentialResponse">
                            </div>
                            <div class="g_id_signin" data-type="standard"></div> -->
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- END: Content-->
        <script>
          function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
        </script>
        <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
        </script>
        <%- include('./partials/foot'); %>
    </body>
    <!-- END: Body-->
</html>
