<!DOCTYPE html>
<html lang="en">
    <!-- START: Head-->
    <head>
      <%- include('./partials/head'); %>
    </head>
    <!-- END Head-->

    <!-- START: Body-->
    <body id="main-container" class="default">
        <!-- START: Main Content-->
        <div class="container">
            <div class="row vh-100 justify-content-between align-items-center">
                <div class="col-12">
                    <form action="/otp-reset-password" method="post" class="row row-eq-height lockscreen  mt-5 mb-5">
                        
                        <div class="login-form col-12 col-sm-12">
                            <h5>OTP Password</h5>
                            <div class="mt-2"> <%= message %></div>
                            <div class="form-group mb-3">
                                <label for="emailaddress">OTP</label>
                                <input type="hidden" id="email" name="email" required="" value="<%= email %>">
                                <input class="form-control" type="text" id="otp" name="otp" required="" placeholder="Enter OTP">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary" type="submit"> Check OTP </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END: Content-->
        <%- include('./partials/foot'); %>
    </body>
    <!-- END: Body-->
</html>
